@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html {
  margin: 0;
  padding: 0;
}

body {
  background: #19caad;
}

h1 {
  text-align: center;
  font-family: 'Raleway',  Helvetica, sans-serif;
  margin-top: 100px;
}

.all {
  width: 1000px;
  /* height: 600px; */
  margin: 0 auto;
  overflow: hidden;
  /* border: 1px solid #000; */
 /*  background: #ccc; */
}

.li {
  position: relative;
  overflow: hidden;
  /* width: 400px; */
  /* float: left; */
  margin-top: 180px;
}

.left{
  display: inline;
}

.right {
  width: 400px;
  height: 300px;
  display: inline-block;
  margin-left: 100px;
  background: rgba(255,255,255,.5);
  border-radius: 10px;
}

.right_content {
  text-align: center;
}

.right h2 {
  margin-top: 100px;
  margin-bottom: 10px;
}

.right h2:hover {
  color: orange
}

.right p {
  width: 250px;
  text-align: center;
  display: inline-block;
}

.item {
  width: 400px;
  height: 300px;
  /* border: 1px solid #000; */
  float: left;
}

.co {
  width: 400px;
  height: 0px;
  background: rgba(0,0,0,.8);
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
}

.co h3 {
  margin-top: 100px;
}

.co p {
  font-family: 'Raleway',  Helvetica, sans-serif;
}

.co h6 {
  width: 50%;
  height: 25px;
  font-family: 'Raleway',  Helvetica, sans-serif;
  border: 1px solid #fff;
  margin: 0 auto;
  line-height: 2;
}

.co h6:hover {
  color: orange;
  border-color: orange;
}

.item img {
  width: 400px;
  height: 300px;
}

footer {
 width: 99%;
 bottom: 20px;
 color: #222333;
 display: block;
 margin-top: 100px;
}

.link {
 text-align: center;
}

.link a {
  margin-left: 5px;
  color: #222333;
}

.link a:hover {
  color: orange;
}