html body,
html td,
html th,
html .pl,
html input {
  font-size: 13px;
  font: Helvetica, Arial, sans-serif;
}

header {
  margin-bottom: 40px;
}

#mainNav {
  background-color: #545652;
  height: 28px;
}

#mainNav ul li {
  float: left;
  width: 48px;
  height: 28px;
  text-align: center;
}

#mainNav a {
  color: #d5d5d5;
  height: 28px;
  line-height: 28px;
  font-family: Helvetica, Arial, sans-serif;
}

.nav-info {
  float: right;
  margin: 0 12px 0 0;
  line-height: 28px;
}

.nav-log {
  margin: 0;
  padding: 0 12px;
  height: 28px;
}

.downApp {
  float: right;
  margin-right: 5px;
  padding: 0 8px;
}

#nav-wrap {
  border-color: #e3ebec;
  border-bottom: 1px solid #e5ebe4;
}

.movieNav {
  position: relative;
  background-color: #f0f3f5;
}

.movieNav .nav-primary {
  width: 1040px;
  margin: 0 auto;
  position: relative;
  padding: 15px 0 25px;
}

.movieNav .movie-logo img {
  float: left;
  height: 29px;
  width: 117px;
  margin: 9px 13px 9px 0;
}

.movieNav form {
  margin: 10px 0 0 0;
}

.movie-search input {
  border: none;
}

.movieNav .inp {
  float: left;
  width: 470px;
  height: 34px;
  text-align: center;
  margin-right: -3px;
  cursor: text;
}

.movieNav #inp-qury {
  border: none;
  vertical-align: middle;
  background: #fff;
  width: 96%;
  margin: 0;
  text-align: left;
  height: 30px;
  padding-left: 10px;
}

.movie-search .inp-btn {
  position: relative;
  left: -1px;
  width: 37px;
  height: 34px;
  overflow: hidden;
}

/* 插入搜索按钮图片 */
.movie-search .inp-btn input {
  background: #fff url(../image/nav_mv_bg.png) no-repeat 0 -40px;
}

.movie-search .inp-btn input {
  width: 100%;
  height: 100%;
  font-size: 0;
  color: transparent;
  overflow: hidden;
  padding: 35px 0 0 0;
  cursor: pointer;
}

/* nav-2rd样式 */
header .nav-2rd {
  width: 1040px;
  margin: 0 auto;
  overflow: hidden;
}

.nav-2rd .nav-items li {
  display: inline;
  margin-right: 25px;
}

a:visited,
a:link {
  color: #27a;
}

a:hover {
  background-color: #27a;
  color: #fff;
}

.nav-items ul {
  margin: 9px 0;
  font-size: 14px;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

/* 上面是header的样式 */

/* ---Main */
/* asid begin */
main {
  margin: 0 auto;
  width: 1040px;
}

main #content {
  overflow: hidden;
  
}

article {
  float: left;
  width: 675px;
  padding-right: 40px;
}

aside {
  float: right;
  width: 300px;
}

aside .ratting_answer {
  color: #27a;
  margin: 0 0 20px;
  padding: 12px 0 12px 18px;
  line-height: 1.5;
  background: #f2f7f6;
  border-radius: 4px;
  width: 282px;
}

#ad1,
#ad2 {
  margin-bottom: 20px;
}

#ad1 p,
#ad2 p {
  line-height: 1;
  text-align: center;
  color: white;
  padding: 2px;
}

#ad1 div,
#ad2 div {
  position: relative;
  bottom: 20px;
  float: right;
  background-color: rgba(0, 0, 0, 0.4);
}

.hot_link {
  margin: 0 0 20px;
  padding: 16px 0 16px 18px;
  line-height: 1.5;
  background: #f2f7f6;
  border-radius: 4px;
  width: 282px;
}

.hot_link li {
  margin-top: 8px;
  list-style: none;
  font-size: 13px;
}

.hot_link h2 {
  color: #072;
  font-family: 'Microsoft YaHei';
  font-size: 16px;
  font-weight: 400;
}

.billboard {
  margin-bottom: 50px;
  display: inline-block;
  font-family: 'Microsoft YaHei';
}

.billboard h2 {
  margin-bottom: 5px;
  color: #111111;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.billboard h2 span {
  font-size: 13px;
  margin-left: 12px;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border: none;
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

.billboard .order {
  width: 20px;
  font-size: 9px;
  text-align: center;
}

.billboard td {
  padding: 7px 0;
  border-bottom: 1px solid #eaeaea;
  line-height: 1.62;
}

.billboard .title {
  width: 290px;
}

#doulist {
  margin-bottom: 40px;
}

#doulist h2 {
  padding-bottom: 0;
  margin-bottom: 10px;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

#doulist ul {
  border-top: 1px solid #eee;
}

#doulist ul li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

#doulist ul li span {
  font-size: 13px;
  float: right;
  color: #999;
}

#doulist .title {
  width: 247px;
  font-size: 13px;
  line-height: 1.621;
  font-weight: 400;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

#cooperation h2 {
  color: #111111;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  line-height: 150%;
}

#cooperation li {
  line-height: 24px;
}

#cooperation li img {
  height: 14px;
  margin-top: -2px;
  vertical-align: middle;
}

#cooperation li .new {
  height: auto;
  margin-top: -3px;
}

.contact {
  margin-top: 20px;
  margin-bottom: 40px;
  height: 120px;
}

.contact ul {
  display: block;
}

.contact .ico img {
  display: block;
  position: relative;
  widows: 40px;
  height: 40px;
  margin: 0 auto 5px auto;
}

.contact .link {
  font-size: 12px;
  line-height: 12px;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.contact li {
  float: left;
  width: 60px;
  font-size: 12px;
  text-align: center;
}

.contact h2 {
  color: #111111;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  line-height: 150%;
}

#ad3 {
  background-color: #f9f9f9;
}

#ad3 img {
  width: 96px;
  height: 80px;
  float: left;
}

#ad3 .container {
  padding: 10px;
  overflow: hidden;
}

#ad3 .info {
  margin-left: 111px;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
}

#ad3 .info a {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 18px;
}

#ad3 .info p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #999;
}

/* asid end */

/* article begin */
.playing {
  width: 675px;
  height: 324px;
  margin-bottom: 36px;
}

.playing .playing_head {
  width: 675px;
  height: 36px;
  margin-bottom: 18px;
  border-bottom: 1px solid #eaeaea;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.playing .playing_head p {
  float: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.playing .playing_head a {
  float: left;
  margin-left: 5px;
  line-height: 1.846;
  font-size: 13px;
}

.playing .playing_head .playing_title {
  margin-left: 15px;
}


.playing .playing_head .playing_page {
  float: right;
  line-height: 30px;
  color: #666;
}

.playing .playing_head .playing_btn {
  float: right;
  margin: 5px 0 0 15px;
}

.playing_btn .pre-btn {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../image/slide_swithc_2.png) no-repeat 0 0;
}

.playing_btn .next-btn {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../image/slide_swithc_2.png) no-repeat -18px 0;
}

.playing_content {
  overflow: hidden;
}

.playing_content ul {
  width: 5700px;
  height: 270px;
  transition: margin-left 1s;
}
.playing_content li {
  float: left;
  width: 115px;
  margin-right: 25px;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.playing_content li img {
  width: 115px;
  height: 161px;
}

.playing_content .playing_img {
  height: 161px;
  margin-bottom: 12px;
}

.playing_content .playing_name {
  font-size: 14px;
  height: 22px;
  line-height: 1.62;
  font-weight: 400;
  color: #111111;
  text-align: center;
}

.playing_content .playing_name:hover {
  background-color: white;
}

.playing_content li a {
  display: block;
}

.playing_content .playing_rat {
  margin: 4px auto 2px;
  height: 19px;
  text-align: center;
}

.allstar50, .allstar45, .allstar40, .allstar35, .allstar30, .allstar25, .allstar20, .allstar15, .allstar10, .allstar05, .allstar00, .rating1-t, .rating15-t, .rating2-t, .rating25-t, .rating3-t, .rating35-t, .rating4-t, .rating45-t, .rating5-t, .rating-t, .starb ~ .stars5, .starb ~ .stars4, .starb ~ .stars3, .starb ~ .stars2, .starb ~ .stars1, .collectors .stars5, .collectors .stars4, .collectors .stars3, .collectors .stars2, .collectors .stars1 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: url(../image/star.png) no-repeat 0 0;
  width: 55px;
  height: 11px;
  margin: 0 3px 0 0;
  overflow: hidden;
}
.allstar45{
  background-position: 0 -11px;
}
.allstar40 {
  background-position: 0 -22px;
}
.allstar35 {
  background-position: 0 -33px;
}
.allstar30 {
  background-position: 0 -44px;
}
.allstar20 {
  background-position: 0 -66px;
}
.allstar10 {
  background-position: 0 -88px;
}
/* .playing_content .playing_rat .playing_star {
  float: left;
  background: url(../image/star.png) no-repeat 0 -11px;
  width: 55px;
  height: 11px;
  margin: 3px 3px 0 0;
} */

.playing_content .subject_rate {
  margin-left: 2px;
  color: #c09015;
  font-size: 12px;
  font-weight: 1.619;
}

.playing_content .playing_ticket {
  width: 90px;
  height: 24px;
  text-align: center;
  color: #fff;
  background-color: #268dcd;
  border-radius: 2px;
  margin: 0 auto;
}

.playing_content .playing_ticket a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

#content .ad1 {
  width: 675px;
  height: 112px;
  margin-bottom: 20px;
}

#content .ad1 a {
  display: block;
  width: 675px;
  height: 112px;
}

.hotMovie {
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
}

.hotMovie .hotMovieHead {
  height: 18px;
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid #eaeaea;
}

.hotMovie .hotMovieHead h2 {
  float: left;
  margin-right: 15px;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 400;
}
.hotMovie .hotMovieHead a {
  display: block;
  float: left;
  margin-right: 12px;
  color: #888;
}

.hotMovie .hotMovieHead a:hover {
  color: white;
}

.hotMovie .hotMovieHead .active {
  color: #111111;
  background: #fff;
}
.hotMovie .hotMovieHead .active:hover {
  color: #111111;
}

.hotMovie .hotMovieHead .more {
  display: block;
  float: right;
  color: #27a;
}

.hotMovie .slider {
  width: 136px;
  height: 18px;
  margin: 10px auto;
}

.hotMovie .slider a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  background: url(../image/slide_swithc_2.png) no-repeat;
  margin-right: 10px;
  margin-left: 5px;
}

.hotMovie .slider .M-pre {
  background-position: 0 0;
}

.hotMovie .slider .M-next {
  background-position: -18px 0;
}

.hotMovie .slider .M-dot {
  display: block;
  float: left;
  width: 6px;
  height: 6px;
  background: #d8d8d8;
  border-radius: 50%;
  position: relative;
  top: 5px;
  margin-right: 8px;
  cursor: pointer;
}

.hotMovie .slider #active {
  background: #6198D7;
}

.hotMovie .movie {
  width: 675px;
  height: 426px;
  overflow: hidden;
}

.hotMovie .movie #slide-wp {
  overflow: hidden;
  width: 4900px;
  transition: margin-left 1s;
}

.hotMovie .movie .slide-li {
  width: 700px;
  height: 440px;
  float: left;
}

.movie .slide-li .item {
  width: 115px;
  display: block;
  float: left;
  font-size: 13px;
  text-align: center;
  margin: 0 25px 10px 0;
}

.movie .slide-li .item:link {
  background: none;
  color: #3377aa;
}

.slide-li .item .cover {
  background-size: 100%;
  height: 161px;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.slide-li .item img {
  max-width: 100%;
  height: 160px;
}

.slide-li .item p {
  margin: 5px 0 0;
  height: 44px;
  line-height: 1.162;
}

.slide-li .item p img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.slide-li .item p strong {
  color: #e09015;
  font-weight: 400;
}

.hotTV {
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.hotTV .hotTVHead {
  height: 18px;
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid #eaeaea;
}

.hotTV .hotTVHead h2 {
  float: left;
  margin-right: 15px;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 400;
}
.hotTV .hotTVHead a {
  display: block;
  float: left;
  margin-right: 12px;
  color: #888;
  
}

.hotTV .hotTVHead a:hover {
  color: white;
}

.hotTV .hotTVHead .active {
  color: #111111;
  background: #fff;
}
.hotTV .hotTVHead .active:hover {
  color: #111111;
}

.hotTV .hotTVHead .more {
  display: block;
  float: right;
  color: #27a;
}

.hotTV .slider {
  width: 136px;
  height: 18px;
  margin: 10px auto;
}

.hotTV .slider a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  background: url(../image/slide_swithc_2.png) no-repeat;
  margin-right: 10px;
  margin-left: 5px;
}

.hotTV .slider .TV-pre {
  background-position: 0 0;
}

.hotTV .slider .TV-next {
  background-position: -18px 0;
}

.hotTV .slider .TV-dot {
  display: block;
  float: left;
  width: 6px;
  height: 6px;
  background: #d8d8d8;
  border-radius: 50%;
  position: relative;
  top: 5px;
  margin-right: 8px;
  cursor: pointer;
}

.hotTV .slider #active {
  background: #6198D7;
}

.hotTV .TV {
  width: 675px;
  height: 426px;
  overflow: hidden;
}

.hotTV .TV #TV-slide-wp {
  overflow: hidden;
  width: 4900px;
  transition: margin-left 1s;
}

.hotTV .TV .slide-li {
  width: 700px;
  height: 440px;
  float: left;
}

.TV .slide-li .item {
  width: 115px;
  display: block;
  float: left;
  font-size: 13px;
  text-align: center;
  margin: 0 25px 10px 0;
}

.TV .slide-li .item:link {
  background: none;
  color: #3377aa;
}

.slide-li .item .cover {
  background-size: 100%;
  height: 161px;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.hot {
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  margin-bottom: 36px;
}

.hot .hot-head {
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 18px;
}

.hot .hot-head h2 {
  float: left;
  color: #111;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.hot .hot-head .hot-info {
  float: right;
}

.hot-info .page {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: #666;
  position: relative;
  bottom: 4px;
}

.hot-info .hot-btn {
  display: inline-block;
  margin: 5px 0 0 15px;
}

.hot-info .hot-btn .pre {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../image/slide_swithc_2.png) no-repeat 0 0;
  margin-right: 5px;
  cursor: pointer;
}

.hot-info .hot-btn .next {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../image/slide_swithc_2.png) no-repeat -18px 0;
  margin-right: 5px;
  cursor: pointer;
}

.hot-content {
  width: 675px;
  
  overflow: hidden;
}

#hot-ul {
  width: 5400px;
  height: 240px;
  transition: margin-left 1s;
}

.hot-content li {
  background: #F9F9F9;
  overflow: hidden;
  float: left;
  margin-right: 25px;
}

.hot-content li a {
  color: #111;
}

.hot-content li img {
  width: 350px;
  height: 240px;
  
}

.hot-content li .detail {
  width: 325px;
  height: 240px;
  text-align: center;
  float: right;
  /* position: absolute;
  top: 0px;
  left: 355px; */
}

.detail .wrap {
  padding-top: 80px;
}

.detail h1 {
  width: 277px;
  font-size: 18px;
  line-height: 28px;
  margin-left: 20px;
}

.detail p {
  width: 277px;
  font-size: 13px;
  color: #999;
  line-height: 20px;
  margin-left: 20px;
}

.reviews {
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.reviews .re-hd h2 {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 18px;
}

.re-hd h2 span {
  font-size: 13px;
  margin-left: 12px;
}

.review{
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eaeaea;
}

.review .review-hd {
  float: left;
  width: 68px;
}

.review .review-hd img {
  width: 68px;
}

.review .review-bd {
  margin-left: 83px;
}

.review .review-bd h3 {
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
}
.review .review-bd .review-meta {
  color: #666666;
  margin: 5px 0;
}

.review-meta a {
  color: #666
}

.review .review-bd .review-content {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
/* article end */

/* Main--- */

/* 下面是footer的样式 */
footer {
  height: 14px;
  border-top: 1px dashed #ddd;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 6px 0;
  margin-top: 40px;
}

.icp {
  float: left;
  color: #999;
}

.fright {
  float: right;
}

/* 上面是footer的样式 */